<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="c3.css" rel="stylesheet">
    <script src="d3.v5.min.js" charset="utf-8"></script>
    <script src="c3.min.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        table {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
<body>
<h3>
    {{ replay_name }}
</h3>
<div id="chart"></div>
<script>
var chart = c3.generate({
    data: {
    x: 'x',
        columns: [
            ['x', {%- for x in time_mm_ss %}"{{ x }}",{% endfor %}],
            ['workers', {%- for w in workers %}"{{ w }}",{% endfor %}],
            ['total supply', {%- for t in total %}"{{ t }}",{% endfor %}]
        ],
    },
    axis: {
        x: {
            type: 'category',
            show: false
        }
    }
});
</script>
<br/>
<table>
    <tr>
        <th>Time</th>
        <th>03:00</th>
        <th>06:00</th>
        <th>09:00</th>
        <th>09:49</th>
    </tr>
    <tr>
        <td>Workers</td>
        <td>20</td>
        <td>31</td>
        <td>55</td>
        <td>85</td>
    </tr>
    <tr>
        <td>Total supply</td>
        <td>35</td>
        <td>89</td>
        <td>158</td>
        <td>199</td>
    </tr>
</table>
</body>
</html>